if not functions -q fundle; eval (curl -sfL https://git.io/fundle-install); end

fundle plugin 'jethrokuan/fzf'
fundle plugin 'oh-my-fish/theme-mtahmed'
fundle plugin '2m/fish-tmux-gitbar'
fundle plugin 'ogham/exa' --path 'completions'
fundle plugin '2m/fish-exa-aliases'
fundle plugin '2m/fish-gpg-tty'
fundle plugin '2m/fish-archlinux-java'
fundle plugin 'docker/cli' --path 'contrib/completion/fish'
fundle plugin '2m/fish-efibootmgr'

fundle init

set -gx PATH $PATH $HOME/soft/google-cloud-sdk/bin/
{{- if eq .chezmoi.hostname "laguna" }}
set -gx PATH $PATH /usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/bin
set -gx PATH $PATH /usr/local/sbin
set -gx PATH $PATH $HOME/.krew/bin
set -gx PATH $PATH "$HOME/Library/Application Support/Coursier/bin"
set -gx PATH $PATH $HOME/.local/bin
set -gx PATH $PATH $HOME/go/bin
set -gx PATH $PATH /Library/Java/JavaVirtualMachines/graalvm-ce-java11-20.0.0/Contents/Home/bin

set -gx GRPC_PYTHON_BUILD_SYSTEM_ZLIB true
set -gx SYSTEM_VERSION_COMPAT 1
{{- end }}
