if not functions -q fundle
    eval (curl -sfL https://git.io/fundle-install)
end

fundle plugin jethrokuan/fzf
fundle plugin oh-my-fish/theme-mtahmed
fundle plugin 2m/fish-tmux-gitbar
fundle plugin ogham/exa --path completions
fundle plugin 2m/fish-exa-aliases
fundle plugin 2m/fish-gpg-tty
fundle plugin 2m/fish-archlinux-java
fundle plugin docker/cli --path contrib/completion/fish
fundle plugin 2m/fish-efibootmgr

fundle init

set -x BUF_TOKEN {{ onepasswordRead "op://tokens/buf/notesPlain" }}

{{- if eq .chezmoi.os "darwin" }}
fish_add_path /usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/bin
fish_add_path /usr/local/sbin
fish_add_path /usr/local/bin
fish_add_path ~/.krew/bin
fish_add_path "~/Library/Application Support/Coursier/bin"
fish_add_path ~/.local/bin
fish_add_path ~/go/bin
fish_add_path /Library/Java/JavaVirtualMachines/graalvm-ce-java11-21.2.0/Contents/Home/bin
fish_add_path ~/Library/Python/3.9/bin
fish_add_path ~/.cargo/bin
fish_add_path ~/.npm-packages/bin
fish_add_path /Applications/Tailscale.app/Contents/MacOS
fish_add_path /usr/local/opt/influxdb@1/bin
{{- end }}

if status --is-interactive
    set -gx ATUIN_NOBIND true
    atuin init fish | source
    bind \cr _atuin_search
end

direnv hook fish | source
