# Turn on Num Lock
numlockx

# Load Xresources for xterm customization
[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

{{- if eq .chezmoi.hostname "fortuna" }}

# 2080 Super with Nvidia drivers setup
xrandr --output DP-2 --mode 2560x1440 --rate 144 --primary \
       --output DP-4 --left-of DP-2 --mode 1920x1080 --rotate left
{{- end }}

setxkbmap -layout us,lt -option grp:caps_toggle
nitrogen --restore &
