machine api.heroku.com
login mmartynas@gmail.com
password {{ onepasswordRead "op://Private/heroku-api-key/password" }}

machine git.heroku.com
login mmartynas@gmail.com
password {{ onepasswordRead "op://Private/heroku-api-key/password" }}

machine buf.build
  login developers
  password {{ onepasswordRead "op://tokens/buf/notesPlain" }}
machine go.buf.build
  login developers
  password {{ onepasswordRead "op://tokens/buf/notesPlain" }}
