# open terminal
ctrl - return : /Applications/Alacritty.app/Contents/MacOS/alacritty
shift + ctrl - return : /Applications/Alacritty.app/Contents/MacOS/alacritty -e fish

# copy gpg passphrase to clipboard
ctrl - g : fish -c "op read op://gpg/{{ .chezmoi.hostname }}/notesPlain | pbcopy"

# open project
ctrl - p : ls ~/projects/ | choose | xargs -I % echo ~/projects/% | xargs code

# yabai
ctrl + shift - r : osascript -e 'display notification "Restarting Yabai" with title "Yabai"'; yabai --stop-service; yabai --start-service; ~/Library/Application\ Support/yabai-scala/Yabai

#ctrl - l : yabai -m window --focus next || yabai -m window --focus first
#ctrl + shift - l : yabai -m window --swap next || yabai -m window --swap first

ctrl - l : yabai -m window --focus east
ctrl + shift - l : yabai -m window --swap east
ctrl - h : yabai -m window --focus west
ctrl + shift - h : yabai -m window --swap west
ctrl - j : yabai -m window --focus south
ctrl + shift - j : yabai -m window --swap south
ctrl - k : yabai -m window --focus north
ctrl + shift - k : yabai -m window --swap north

ctrl - v : yabai -m window --insert south
ctrl - b : yabai -m window --insert east

# numpad and number row
ctrl - 0x53 : yabai -m space --focus 1
ctrl - 0x54 : yabai -m space --focus 2
ctrl - 0x55 : yabai -m space --focus 3
ctrl - 0x56 : yabai -m space --focus 4
ctrl - 0x57 : yabai -m space --focus 5
ctrl - 0x58 : yabai -m space --focus 6
ctrl - 0x59 : yabai -m space --focus 7
ctrl - 0x5B : yabai -m space --focus 8
ctrl - 0x5C : yabai -m space --focus 9
ctrl - 0x52 : yabai -m space --focus 10

# numpad
ctrl + shift - 0x53 : yabai -m window --space 1
ctrl + shift - 0x54 : yabai -m window --space 2
ctrl + shift - 0x55 : yabai -m window --space 3
ctrl + shift - 0x56 : yabai -m window --space 4
ctrl + shift - 0x57 : yabai -m window --space 5
ctrl + shift - 0x58 : yabai -m window --space 6
ctrl + shift - 0x59 : yabai -m window --space 7
ctrl + shift - 0x5B : yabai -m window --space 8
ctrl + shift - 0x5C : yabai -m window --space 9
ctrl + shift - 0x52 : yabai -m window --space 10

# number row + shift have different opcodes
ctrl + shift - 0x12 : yabai -m window --space 1
ctrl + shift - 0x13 : yabai -m window --space 2
ctrl + shift - 0x14 : yabai -m window --space 3
ctrl + shift - 0x15 : yabai -m window --space 4
ctrl + shift - 0x17 : yabai -m window --space 5
ctrl + shift - 0x16 : yabai -m window --space 6
ctrl + shift - 0x1A : yabai -m window --space 7
ctrl + shift - 0x1C : yabai -m window --space 8
ctrl + shift - 0x19 : yabai -m window --space 9
ctrl + shift - 0x1D : yabai -m window --space 10

# use '-' key for accessing space 11 which is on separate monitor
ctrl - 0x1B : yabai -m space --focus 11
ctrl + shift - 0x1B : yabai -m window --space 11
