{{ range (secretJSON "show" "--sync=no" "--fixed-strings" "--expand-multi" "--json" "creds/") }}
credentials += Credentials(
  "{{ .note }}",
  "{{ .name }}",
  "{{ .username }}",
  "{{ .password }}"
)
{{ end }}
