{
    "editor.codeLens": false,
    "editor.fontFamily": "Fira Code",
    "editor.fontLigatures": true,
    "editor.formatOnSave": true,
    "[java]": {
        "editor.formatOnSave": false
    },
    "editor.suggestSelection": "first",
    "files.autoSave": "onFocusChange",
    "files.insertFinalNewline": true,
    "files.trimTrailingWhitespace": true,
    "files.watcherExclude": {
        "**/.bloop": true,
        "**/.metals": true,
        "**/.ammonite": true
    },
    "git.enableSmartCommit": true,
    "gitlens.currentLine.enabled": false,
    "gitlens.hovers.currentLine.over": "line",
    "gitlens.codeLens.enabled": false,
    "go.useLanguageServer": true,
    "java.configuration.checkProjectSettingsExclusions": false,
    "java.semanticHighlighting.enabled": true,
{{- with (index (index .vars .chezmoi.hostname) "java_home") }}
    "metals.javaHome": "{{ . }}",
{{- end }}
    "python.formatting.provider": "black",
    "python.languageServer": "Pylance",
    "python.linting.enabled": true,
    "python.linting.flake8Enabled": true,
    "python.linting.pylintEnabled": false,
    "python.terminal.activateEnvironment": false,
    "problems.showCurrentInStatus": true,
    "search.useGlobalIgnoreFiles": true,
    "spellright.language": [
        "en_US"
    ],
    "terminal.integrated.shell.osx": "/usr/local/bin/fish",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "window.menuBarVisibility": "toggle",
    "window.zoomLevel": 0,
    "workbench.colorTheme": "Gruvbox Dark (Soft)",
    "workbench.editorAssociations": [
        {
            "viewType": "jupyter.notebook.ipynb",
            "filenamePattern": "*.ipynb"
        }
    ],
    "java.project.importOnFirstTimeStartup": "automatic",
    "emeraldwalk.runonsave": {
        "commands": [
            {
                "match": "\\.java$",
                "cmd": "google-java-format --replace ${file}"
            },
        ],
    },
}
