{
    "editor.codeLens": false,
    "editor.fontFamily": "FiraCode Nerd Font",
    "editor.fontLigatures": true,
    "editor.formatOnSave": true,
    "[java]": {
        "editor.formatOnSave": false
    },
    "editor.suggestSelection": "first",
    "files.autoSave": "onFocusChange",
    "files.insertFinalNewline": true,
    "files.trimTrailingWhitespace": true,
    "files.watcherExclude": {
        "**/.bloop": true,
        "**/.metals": true,
        "**/.ammonite": true
    },
    "git.enableSmartCommit": true,
    "go.useLanguageServer": true,
    "java.configuration.checkProjectSettingsExclusions": false,
    "python.languageServer": "Pylance",
    "python.terminal.activateEnvironment": false,
    "problems.showCurrentInStatus": true,
    "search.useGlobalIgnoreFiles": true,
{{- with (index (index .vars .chezmoi.hostname) "shell") }}
    "terminal.integrated.defaultProfile.osx": "{{ . }}",
{{- end }}
    "workbench.colorTheme": "Gruvbox Dark (Soft)",
    "workbench.editorAssociations": {
        "*.ipynb": "jupyter-notebook"
    },
    "java.project.importOnFirstTimeStartup": "automatic",
    "emeraldwalk.runonsave": {
        "commands": [
            {
                "match": "\\.java$",
                "cmd": "google-java-format --replace ${file}"
            },
        ],
    },
    "workbench.quickOpen.preserveInput": true,
    "notebook.cellToolbarLocation": {
        "default": "right",
        "jupyter-notebook": "left"
    },
    "indentRainbow.includedLanguages": [
        "yaml"
    ],
    "githubPullRequests.pullBranch": "never",
    "workbench.startupEditor": "none",
    "[python]": {
        "editor.formatOnType": true,
        "editor.defaultFormatter": "charliermarsh.ruff"
    },
    "editor.inlineSuggest.enabled": true,
    "github.copilot.enable": {
        "*": false,
        "plaintext": false,
        "markdown": true,
        "scminput": false,
        "yaml": true
    },
    "editor.minimap.enabled": false,
    "explorer.confirmDelete": false,
    "go.toolsManagement.autoUpdate": true,
    "remote.SSH.remotePlatform": {
        "eglute.local": "linux",
        "linux.fortuna.2m.lt": "linux"
    },
    "nix.enableLanguageServer": true,
    "nix.serverPath": "nixd",
    "extensions.ignoreRecommendations": true,
    "terminal.integrated.enableMultiLinePasteWarning": false,
    "markdown-preview-github-styles.colorTheme": "light",
    "[kotlin]": {
        "editor.formatOnSave": true,
        "editor.defaultFormatter": "cstef.kotlin-formatter"
    },
    "[kotlinscript]": {
        "editor.formatOnSave": true,
        "editor.defaultFormatter": "cstef.kotlin-formatter"
    },
    "editor.wordBasedSuggestions": "off",
    "github.copilot.nextEditSuggestions.enabled": true,
    "diffEditor.ignoreTrimWhitespace": false
}
