title	Arch Linux
linux	/vmlinuz-linux
initrd	/intel-ucode.img
initrd	/initramfs-linux.img
options	cryptdevice=UUID={{ with (index .vars .chezmoi.hostname) }}{{ .root_uuid }}{{ end }}:cryptroot root=/dev/mapper/cryptroot rw
