[theme]
theme = "plain"
[theme.overrides]
idle_bg = "#323232"
info_bg = "#323232"
separator_bg = "#323232"
good_bg = "#323232"
warning_bg = "#323232"
critical_bg = "#323232"
idle_fg = "#ffffff"

[icons]
icons = "awesome4"

[[block]]
block = "focused_window"
[block.format]
full = " $title.str(max_w:300) | "

[[block]]
block = "sound"

[[block]]
block = "keyboard_layout"
driver = "kbddbus"

{{ with (index (index .vars .chezmoi.hostname) "laptop") -}}
[[block]]
block = "battery"

{{ end -}}

{{ with (index (index .vars .chezmoi.hostname) "network") -}}
[[block]]
block = "net"
device = "{{ . }}"
format = "$ssid $ip"

{{ end -}}

[[block]]
block = "time"
interval = 60
[block.format]
full = " $timestamp.datetime(f:'%Y-%m-%d %R') "
