general {
  output_format = "none"
  colors = true
  interval = 1
}

order += "volume master"
{{ with (index (index .vars .chezmoi.hostname) "wireless") -}}
order += "wireless {{ . }}"
{{ end -}}
order += "battery 0"
order += "tztime local"

volume master {
  format = "♪ %volume"
  format_muted = "♪ muted (%volume)"
  device = "pulse"
}

{{ with (index (index .vars .chezmoi.hostname) "wireless") -}}
wireless {{ . }} {
  format_up = "%quality (%essid) %ip"
  format_down = "Off"
}

{{ end -}}

battery 0 {
  format = "%status %percentage"
  integer_battery_capacity = true
}

tztime local {
  format = "%m-%d %H:%M"
}
