general {
  output_format = "none"
  colors = true
  interval = 1
}

order += "volume master"
{{- with (index .vars .chezmoi.hostname) }}
{{- if (index . "wireless") }}
order += "wireless {{ .wireless }}"
{{- end }}
{{- end }}
order += "battery 0"
order += "tztime local"

volume master {
  format = "♪ %volume"
  format_muted = "♪ muted (%volume)"
  device = "pulse"
}

{{- with (index .vars .chezmoi.hostname) }}
{{ if (index . "wireless") }}
wireless {{ .wireless }} {
  format_up = "%quality (%essid) %ip"
  format_down = "Off"
}
{{- end }}
{{- end }}

battery 0 {
  format = "%status %percentage"
  integer_battery_capacity = true
}

tztime local {
  format = "%m-%d %H:%M"
}
