<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
   <servers>
      <server>
         <id>github</id>
         <username>2m</username>
         <password>{{ onepasswordRead "op://tokens/gh-read-packages/notesPlain" }}</password>
      </server>
   </servers>
</settings>
